<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Smart Night Light</title>
  <link rel="stylesheet" href="css/styles.css">
  <link rel="icon" href="images/lamp.png">
  <style>
      div.centered {text-align: center; } 
      ul.events { list-style-type: none; margin: 0; padding: 0; } 
      ul.events li { font: 200 20px/1.5 Helvetica, Verdana, sans-serif; border-bottom: 1px solid #ccc; } 
      ul.events li:last-child { border: none; } 
      ul.events li.now { font-size: 30px; background: #f6f6f6; } 
      .bottomcenter {position: fixed; bottom: 0px; left: 50%; transform: translate(-50%,0); padding-left: 60px; padding-right: 60px; margin-bottom: 6px;}
      .bottomleft {position: fixed; bottom: 0px; left: 6px; margin-bottom: 6px;}
  </style>
</head>

<body>
    <div id="loading">
        <header class="navbar navbar-default navbar-fixed-top" id="top" role="banner">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Smart Night Light</a>
            </div>
       </div>
        </header>
        <div class="container-fluid centered" style="position: fixed; top: 60px; bottom: 60px; left: 0; right: 0; overflow: auto;">
            <h1>Loading...<h1>
        </div>
    </div>

    <div id="app" style="display: none">

        <!-- Event Add Modal -->
        <div class="modal fade" id="event_modal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Event</h4>
                    </div>
                    <div class="modal-body">
                        <form action="/r/event" method="post" id="event_form">
                            <div class="form-group">
                                <label for="timeInput">Time</label>
                                <input type="time" class="form-control" name="time" id="timeInput">
                            </div>
                            <div class="form-group">
                                <label for="colorInput">Color</label>
                                <input type="color" class="form-control" name="color" id="colorInput">
                            </div>
                            <div class="form-group">
                                <label for="behaviorInput">Behavior</label>
                                <select class="form-control" name="behavior" id="behaviorInput">
                                    <option value="1">Pulse</option>
                                    <option value="2">Blink</option>
                                    <option value="3">Solid</option>
                                </select>
                            </div>
                        </form>
                        <div class="alert alert-danger" role="alert" v-show="event_error">{{event_error}}</div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" v-on:click="saveEvent()">Save</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Event Edit Modal -->
        <div class="modal fade" id="event_edit_modal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Event Edit</h4>
                    </div>
                    <div class="modal-body">
                        <form action="/r/event" method="post" id="event_edit_form">
                            <input type="hidden" name="hour" v-model="e_hour">
                            <input type="hidden" name="minute" v-model="e_minute">
                            <div class="form-group">
                                <label for="timeInput">Time</label>
                                <input type="time" class="form-control" name="time" id="timeInput" v-model="e_time">
                            </div>
                            <div class="form-group">
                                <label for="colorInput">Color</label>
                                <input type="color" class="form-control" name="color" id="colorInput" v-model="e_color">
                            </div>
                            <div class="form-group">
                                <label for="behaviorInput">Behavior</label>
                                <select class="form-control" name="behavior" id="behaviorInput" v-model="e_behavior">
                                    <option value="1">Pulse</option>
                                    <option value="2">Blink</option>
                                    <option value="3">Solid</option>
                                </select>
                            </div>
                        </form>
                        <div class="alert alert-danger" role="alert" v-show="event_edit_error">{{event_edit_error}}</div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-warning" style="float:left"v-on:click="deleteEvent()">Delete</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" v-on:click="saveEditEvent()">Save</button>
                    </div>
                </div>
            </div>
        </div>


        <!-- TZ Modal -->
        <div class="modal fade" id="offset_modal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Time</h4>
                    </div>
                    <div class="modal-body">
                        <form action="/r/time" method="post" id="offset_form">
                            <div class="form-group">
                                <label for="tzInput">Time Zone</label>
                                <select class="form-control" name="offset" v-model="offset" id="tzInput">
                                    <option value="-46800">UTC-12</option>
                                    <option value="-43200">UTC-11</option>
                                    <option value="-39600">UTC-10</option>
                                    <option value="-36000">UTC-09:30</option>
                                    <option value="-32400">UTC-09</option>
                                    <option value="-28800">UTC-08</option>
                                    <option value="-25201">Pacific (DST)</option>
                                    <option value="-25200">UTC-07</option>
                                    <option value="-21601">Mountain (DST)</option>
                                    <option value="-21600">UTC-06</option>
                                    <option value="-18001">Central (DST)</option>
                                    <option value="-18000">UTC-05</option>
                                    <option value="-14401">Eastern (DST)</option>
                                    <option value="-14400">UTC-04</option>
                                    <option value="-12600">UTC-03:30</option>
                                    <option value="-10800">UTC-03</option>
                                    <option value="-7200">UTC-02</option>
                                    <option value="-3600">UTC-01</option>
                                    <option value="0">UTC</option>
                                    <option value="3600">UTC+01</option>
                                    <option value="7200">UTC+02</option>
                                    <option value="10800">UTC+03</option>
                                    <option value="12600">UTC+03:30</option>
                                    <option value="14400">UTC+04</option>
                                    <option value="16200">UTC+04:30</option>
                                    <option value="18000">UTC+05</option>
                                    <option value="20700">UTC+05:45</option>
                                    <option value="21600">UTC+06</option>
                                    <option value="23400">UTC+06:30</option>
                                    <option value="25200">UTC+07</option>
                                    <option value="28800">UTC+08</option>
                                    <option value="30600">UTC+08:30</option>
                                    <option value="31500">UTC+08:45</option>
                                    <option value="32400">UTC+09</option>
                                    <option value="34200">UTC+09:30</option>
                                    <option value="39600">UTC+10</option>
                                    <option value="37800">UTC+10:30</option>
                                    <option value="43200">UTC+11</option>
                                    <option value="46800">UTC+12</option>
                                    <option value="45900">UTC+12:45</option>
                                    <option value="46800">UTC+13</option>
                                    <option value="50400">UTC+14</option>
                                </select>
                            </div>
                        </form>
                        <div class="alert alert-danger" role="alert" v-show="offset_error">{{offset_error}}</div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" v-on:click="saveOffset()">Save</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Name Modal -->
        <div class="modal fade" id="name_modal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Name</h4>
                    </div>
                    <div class="modal-body">
                        <form action="/r/name" method="post" id="name_form">
                            <div class="form-group">
                                <label for="nameInput">Name</label>
                                <input type="text" class="form-control" name="name" id="nameInput" v-model="name" placeholder="e.g. upstairs">
                            </div>
                        </form>
                        <div class="alert alert-danger" role="alert" v-show="name_error">{{name_error}}</div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" v-on:click="saveName()">Save</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Power Modal -->
        <div class="modal fade" id="system_modal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">System</h4>
                    </div>
                    <div class="modal-body">
                        <form action="/r/system" method="post" id="system_form">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" name="clear_config"> Reset Config
                                </label>
                                <span id="helpBlock" class="help-block">Reset events, name, and timezone to defaults</span>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" name="reboot"> Reboot
                                </label>
                            </div>
                        </form>
                        <div class="alert alert-danger" role="alert" v-show="system_error">{{system_error}}</div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" v-on:click="saveSystem()">Save</button>
                    </div>
                </div>
            </div>
        </div>



        <!-- Main Page -->
        <header class="navbar navbar-default navbar-fixed-top" id="top" role="banner">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#name_modal" data-toggle="modal" v-if="name">SNL: {{name}}</a>
                <a class="navbar-brand" href="#name_modal" data-toggle="modal" v-else>Smart Night Light</a>
            </div>
        </div>
        </header>
        <div class="container-fluid centered" style="position: fixed; top: 60px; bottom: 60px; left: 0; right: 0; overflow: auto;">
            <div class="alert alert-info alert-dismissible" role="alert" v-show="msg" style="font-size: x-large">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true" style="font-size: x-large">&times;</span></button>
                {{msg}}
            </div>
            <ul class="events">
                <li v-for="event in events" v-bind:class="{'now':event.active}">
                <span v-on:click="editEvent(event)">
                    {{event.hour | 12h}}:{{event.minute | pad}} {{event.hour|ampm}}
                    <span v-bind:style="{color: '#'+event.color}">{{event.behavior | uppercase}}</span>
                </span>
                <div style="font-size: 16px" v-if="event.active">
                    <a href="#offset_modal" data-toggle="modal">{{hour | 12h}}:{{minute | pad}} {{hour | ampm}} Current Time</a>
                </div>
                </li>
            </ul>
        </div>
        <button class="btn btn-primary btn-lg bottomcenter" data-toggle="modal" data-target="#event_modal">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        </button>
        <button class="btn btn-default btn-xs bottomleft" data-toggle="modal" data-target="#system_modal">
            <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
        </button>
        <span style="position: fixed; bottom:0px; right: 3px; font-size: 10px;">v0.{{fversion}}.{{bversion}}</span>
    </div>
    <script src="js/scripts.js"></script>
    <script>
        var urlBase = "";//"http://172.27.27.83";
        Vue.use(VueResource);
        function pad(value) {
            if (value >=0 && value <= 9) {
                return "0" + value;
            }
            return value;
        };
        Vue.filter('pad', pad);
        Vue.filter('12h', function(value) {
            if (value >= 13) {
                value = value - 12;
            } else if (value == 0) {
                value = 12;
            }
            return value;
        });
        Vue.filter('ampm', function(value) {
            if (value >= 12) {
                value = 'PM';
            } else {
                value = 'AM';
            }
            return value;
        });
        var vm = new Vue({
            el: '#app',
            data: {
                hour: null,
                minute: null,
                offset: 0,
                name: '',
                events: [],
                event_error: null,
                offset_error: null,
                name_error: null,
                msg: null,
                e_hour: null,
                e_minute: null,
                e_time: null,
                e_color: null,
                e_behavior: null,
                fversion: 3,
                bversion: null
            },
            methods: {
                handleError(response, element) {
                    if (response.status) {
                        this.$set(element, response.json().error);
                    } else {
                        this.$set(element, "An unexpected error occurred");
                    }
                },
                load: function() {
                    this.$http.get(urlBase + '/r/all').then((response) => {
                        r = response.json();
                        this.$set('hour', r.hour);
                        this.$set('minute', r.minute);
                        this.$set('offset', r.offset);
                        this.$set('name', r.name);
                        this.$set('bversion', r.bversion);
                        this.$set('events', r.events);
                        $('#loading').hide();
                        $('#app').show();
                    }, (response) => {
                        $('#loading').hide();
                        $('#app').show();
                        this.handleError(response, 'msg');
                    });
                },
                saveEvent: function() {
                    this.$set('event_error', null);
                    this.$set('msg', null);
                    this.$http.post(urlBase + "/r/event", $('#event_form').serialize()).then((response) => {
                        $('#event_modal').modal('hide');
                        this.$set('msg', 'Event added');
                        this.load();
                    }, (response) => {
                        this.handleError(response, 'event_error');
                    });
                },
                editEvent: function(evt) {
                    this.$set('e_hour', evt.hour);
                    this.$set('e_minute', evt.minute);
                    this.$set('e_time', pad(evt.hour) + ":" + pad(evt.minute));
                    this.$set('e_color', "#" + evt.color);
                    if (evt.behavior == "PULSE") {
                        this.$set('e_behavior', 1);
                    } else if (evt.behavior == "BLINK") {
                        this.$set('e_behavior', 2);
                    } else if (evt.behavior == "SOLID") {
                        this.$set('e_behavior', 3);
                    }
                    $('#event_edit_modal').modal('show');
                },
                saveEditEvent: function() {
                    this.$set('event_edit_error', null);
                    this.$set('msg', null);
                    this.$http.post(urlBase + "/r/event", $('#event_edit_form').serialize()).then((response) => {
                        $('#event_edit_modal').modal('hide');
                        this.$set('msg', 'Event edited');
                        this.load();
                    }, (response) => {
                        this.handleError(response, 'event_edit_error');
                    });
                },
                deleteEvent: function() {
                    this.$set('event_edit_error', null);
                    this.$set('msg', null);
                    this.$http.post(urlBase + "/r/event", $('#event_edit_form input').serialize() + "&behavior=0").then((response) => {
                        $('#event_edit_modal').modal('hide');
                        this.$set('msg', 'Event Deleted');
                        this.load();
                    }, (response) => {
                        this.handleError(response, 'event_edit_error');
                    });
                },
                saveOffset: function() {
                    this.$set('offset_error', null);
                    this.$set('msg', null);
                    this.$http.post(urlBase + "/r/offset", $('#offset_form').serialize()).then((response) => {
                        $('#offset_modal').modal('hide');
                        this.$set('msg', 'Offset saved');
                        this.load();
                    }, (response) => {
                        this.handleError(response, 'offset_error');
                    });
                },
                saveName: function() {
                    this.$set('name_error', null);
                    this.$set('msg', null);
                    this.$http.post(urlBase + "/r/name", $('#name_form').serialize()).then((response) => {
                        $('#name_modal').modal('hide');
                        this.$set('msg', 'Name saved');
                        this.load();
                    }, (response) => {
                        this.handleError(response, 'name_error');
                    });
                },
                saveSystem: function() {
                    this.$set('system_error', null);
                    this.$set('msg', null);
                    this.$http.post(urlBase + "/r/system", $('#system_form').serialize()).then((response) => {
                        $('#system_modal').modal('hide');
                        this.$set('msg', 'Done');
                        this.load();
                    }, (response) => {
                        this.handleError(response, 'system_error');
                    });
                },
            },
            ready() {
                this.load();
                setInterval(this.load, 60000);
            }
        });
    </script>
</body>

</html>
